In [13]:
# Install packages
install.packages('plyr')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# Load libraries
library(ggplot2) # Plotting library
library(dplyr)
library(repr)

In [5]:
# Number of legal routes using the dynamic equation approach
nLegalRoutes = function(k){
  if (k==1){
    return(1)
  }
  else{
    return(nLegalRoutes(k-1)*(choose(2*(k-1)+1, 1) + choose(2*(k-1)+1, 2)))
  }
}

In [12]:
cat(sprintf('Using dynamic equation\t Using direct formula\n'))
for (k in c(1:6)){
  cat(sprintf('%10d\t%10d\n',nLegalRoutes(k), factorial(2*k)/(2^k)))
  }

Using dynamic equation	 Using direct formula
         1	         1
         6	         6
        90	        90
      2520	      2520
    113400	    113400
   7484400	   7484400

In [21]:
# Simulate artificial data
set.seed(1)
df = data.frame(Gender = rep(c('F', 'M'), 200),
 Weight = c(rnorm(200, mean = 55, sd = 5), rnorm(200, mean = 65, sd = 5)))
head(df)

  Gender Weight
1 F      51.86773
2 M      55.91822
3 F      50.82186
4 M      62.97640
5 F      56.64754
6 M      50.89766